<section class="footer">
  <p>Autor {{name}}</p>
  <p>Reconocemos nuestra responsabilidad de usar los datos y la tecnología para
    bien. Controla tus datos.
  </p>
  <p>Derechos de los datos</p>
  <p>© Copyright Weather App 2021</p>
</section>