<section class="hero is-small has-shadow">
  <div class="hero-head">
    <nav class="nav nav-bar" role="navigation" aria-label="main navegation">
      <div class="navbar-brand">
        <a class="logo_container" href="/">
          <img
            class="logo"
            src="/img/icon.png"
            alt="Bulma: a modern CSS framework based on Flexbox"
          />
        </a>
        <a href="" class="navbar-item brand">
          Weather App
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/weather">Weather Forecast</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/help">Help</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>