<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/mystyles.css" />
  </head>
  <body class="gradient">

    {{>header}}

    <div class="index_container">
      <div>
        <p class="index_que-es">{{title}}</p>
        <p class="index_def">{{errorMessage}}</p>
      </div>
      <div>
        <img class="index_img" src="img/error.gif" alt="">
      </div>
    </div>
    
    {{>footer}}

  </body>
</html>
