<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/mystyles.css" />
  </head>
  <body class="gradient">

    {{>header}}

    <div class="profile">
      <div>
        <p class="about_title">{{title}}</p>
        <ul>
          <li class="about_text">Tecnológico Nacional de México</li>
          <li class="about_text">Jaime Osvaldo González Cárdenas</li>
          <li class="about_text">Estudiante de segundo semestre de la Maestría en Sistemas Computacionales</li>
          <li class="about_text">Proyecto elaborado para la asignatura de Desarrollo Web</li>
        </ul>
      </div>
      <div>
        <img class="about_img" src="img/profile.jpg" alt="">
      </div>
    </div>
    
    {{>footer}}

  </body>
</html>